.App {
  text-align: center;
  background: #FFFFFFF;
  height: 100%;
}

.AppContent {
  text-align: center;
  background: #142654;
  height: 255px;
}

.App-logo {
  height: 180px;
  align-self: center;
  margin-top: 10px;
}

.App-header {
  height: 120px;
  padding: 20px;
  color: white;
  font-family: monospace;
}

.App-title {
  font-size: 1.7em;
  padding-top: 10px;
  align-self: center;
  font-family: 'Raleway', sans-serif;
}

.App-intro {
  font-size: large;
}

.Divider {
  color: black;
  /* margin: 50px; */
  /* width: 100px; */
}

.Content {
  align-items: center;
  align-self: center;
  align-content: center;
  justify-content: center;
}

.SearchText {
  color: black;
  font-family: sans-serif;
  align-self: center;
  text-align: center;
}

.SearchContainer {
  align-content: center;
  align-self: center;
  justify-content: center;
  margin: 30px;
  /* width: 300px; */
}

.Search {
  align-self: center;
  align-items: center;
  border-color: black;
  border-width: thin;
  border-radius: 50;
}

.form {
  text-align:  'center';
  color: white;
}

.formTextContainer {
  padding-top: 50px;
}

.formText {
  color: white;
  font-family: sans-serif;

}

.formButton {
  width: 100%;
  align-items: center;
  align-content: center;
  height: 1000px;
}

.button {
  height: 50px;
  width: 50%;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
